## Welcome to IPEngineer Networks! The speediest of configured networks in the world. You might be on 1Mbps ADSL (because we run our network from eBay), but at least you'll be online fast!

Your customer number: {{ CUID }}
Order number: {{ SID }}

Please connect your router to our CPE and configure the interface IP address as: {{ CPEAddress }}

Your default route should point to: {{ PEAddress.split("/")[0] }} 

Thanks & have a great life!

IPEngineer Robots
------ xxx ------