## Engineer Worksheet

Hey engineer.

The customer in site '{{ SiteID }}' is connected to port {{ PEPort }}.

Please ensure it's connected to the upstream circuitID of {{ CUIDSID }}.

Peace out.

Your robot overlords.