interfaces {
    {{ PEPort }} {
        mtu 1500;
        unit 0 {
            description "{{ CUIDSID }}";
            family inet {
                address {{ PEAddress }};
            }
        }
    }
    lo0.{{ LoopbackUnit }} {
            description "{{ CUIDSID }}";
            family inet {
                address {{ LoopbackAddress }}/32;
            }
        }
    }

routing-instances {
    {{ CUIDSID }} {
        instance-type vrf;
        interface {{ PEPort }};
        interface lo0.{{ LoopbackUnit }};
        route-distinguisher {{ SiteRD }};
        vrf-target {{ SiteRT }};
        vrf-table-label;
    }
}
